.container {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;
}

.tagsContainer {
  display: flex;
  gap: 10px;
  background-color: #d9668d;
  color: white;
  padding: 10px 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 1rem;
}

.uploadButton {
  background-color: #d9668d;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 8px;
  cursor: pointer;
}
